[agent]

omit_hostname = true

# --- INPUTS ------------------

[[inputs.prometheus]]
    urls             = ["http://nodered:1880/metrics"]
    ignore_timestamp = true
    metric_version   = 2

# --- OUTPUTS -----------------

[[outputs.http]]
    url         = "{{ grafana_url }}"
    data_format = "prometheusremotewrite"
    username    = "@{docker_secretstore:grafana_username}"
    password    = "@{docker_secretstore:grafana_password}"

    [outputs.http.headers]
        Content-Type = "application/x-protobuf"

# --- SECRET STORES -----------

[[secretstores.docker]]
    id   = "docker_secretstore"
    path = "/run/secrets"